body{
    margin:0px;
}
.main-header{
    background-color: rgb(108, 9, 201);
    height: 50px;
    padding:2px;
    display: flex;
}
.title-heading h2{
    margin: 0px;
    margin-top:10px;
    margin-left: 590px;
}
/*main heading styles*/
.title-heading{
    width: 70%;
}
.header-buttons{
    width:30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-buttons button{
    height: 30px;
    margin-right: 10px;
}


.register, .login{
    margin-top: 100px;
    text-align: center;

}
.register input{
    font-size: 15px;
}


/*Eployee homepage style*/
.emp{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 20px;
}

.credentials{
    width: 30%;
}
.btn-field{
    width: 5%;
}

/*Review-Input styles*/

.review-input{
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: space-around;
}
.right-review-section{
    margin-top: 10px;
}

/*Review styles*/
#reviews-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

}
.auther{
    text-align: end;
}

.reviews{
    background-color: aquamarine;
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
}

